@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";
@theme {
  /* Changing the default fontFamily to Poppins */
  /* --font-sans: "Poppins", sans-serif; */
  --animate-in: fade-in 300ms ease-out both;
  --animate-out: fade-out 300ms ease-in both;
  --animate-fade-in: var(--animate-in); /* alias */
  --animate-fade-out: var(--animate-out); /* alias */

  /* ---------------------- Keyframes ---------------------------- */
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes spring-spin {
    0% {
      transform: rotate(0deg) scale(1);
    }
    25% {
      transform: rotate(90deg) scale(1.1);
    }
    50% {
      transform: rotate(180deg) scale(1);
    }
    75% {
      transform: rotate(270deg) scale(0.9);
    }
    100% {
      transform: rotate(360deg) scale(1);
    }
  }

  --animate-spring-spin: spring-spin 5s cubic-bezier(0.68, -0.55, 0.265, 1.55)
    infinite;
  --animate-accordion-down: accordion-down 100ms ease-out;
  --animate-accordion-up: accordion-up 100ms ease-in;
  --animate-slide-in: slide-in 300ms ease-out both;
  --animate-slide-out: slide-out 300ms ease-in both;
  --animate-slide-out-to-left: slide-out-to-left 300ms ease-in both;
  --animate-slide-in-from-left: slide-in-from-left 300ms ease-out both;
  /* Keyframes */
  @keyframes slide-out-to-left {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  @keyframes slide-in-from-left {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-out {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(
        --accordion-content-height,
      ); /* Pode ser customizado dinamicamente com JS */
    }
  }

  @keyframes accordion-up {
    from {
      height: var(
        --accordion-content-height,
      ); /* Pode ser customizado dinamicamente com JS */
    }
    to {
      height: 0;
    }
  }

  --color-secondary: #749c5b;
  --color-secondary: #749c5b;
  --color-dark: #1a1d1f;
  --color-light-dark: #6f767e;
  --color-surface: #f4f4f4;
}
@layer utilities {
  .fade-in {
    animation: var(--animate-in);
  }
  .fade-out {
    animation: var(--animate-out);
  }
  .accordion-down {
    animation: var(--animate-accordion-down);
  }
  .accordion-up {
    animation: var(--animate-accordion-up);
  }
  .slide-in {
    animation: var(--animate-slide-in);
  }
  .slide-out {
    animation: var(--animate-slide-out);
  }
  .slide-out-to-left {
    animation: var(--animate-slide-out-to-left);
  }
  .slide-in-from-left {
    animation: var(--animate-slide-in-from-left);
  }
}
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
    transition: all 300ms;
  }
}
.swiper-slide {
  max-width: fit-content;
}
