@import "tailwindcss";

@theme {
  /* Changing the default fontFamily to Poppins */
  /* --font-sans: "Poppins", sans-serif; */

  --color-primary: #32ae60;
  --color-secondary: #6baa3f;
  --color-dark: #1a1d1f;
  --color-light-dark: #6f767e;
  --color-surface: #f4f4f4
    /* --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-accordion-down: accordion-down 0.2s ease-out;

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  } */;
}
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
    transition: all 300ms;
    &:hover {
      transform: scale(1.02);
    }
  }
}
.swiper-slide {
  max-width: fit-content;
}
